.icon-view{
    cursor: pointer;
}
.loginImg{
    width: 80%;
    height: 150px;
    // margin: 25px auto;
    margin-left: 25px;
    display: block;
}
.btnLink{
    padding:5px 0px; 
}
.btnLink:hover{
    text-decoration: none;
}

// angular materail design

// .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
//   }
  
//   .example-full-width {
//     width: 100%;
//   }
  