.apply_leave .mat-progress-bar{
    height: 10px;
    border-radius: 20px;
}
.leave_progress{
    margin-bottom: 8px;
    padding: 0 6px !important;
}
.font-14{
    font-size: 14px;
}
.font-bold{
    font-family: 'WiproAkkuratTT-Bold';
}
.font_clr_666{
    color: #666;
}
.days_left{
    font-size: 12px;
    color: #646363;
    padding: 0 6px;
    margin-top: 4px;
    font-family: 'WiproAkkuratTT-Regular';
    opacity: .60;
}
.brdrRight{
    border-right: 1px solid #f2f2f2;
}
.brdrBttm{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}