<div  class="col-lg-12 col-md-12 col-sm-12 col-12 float-left pl-0 pr-0 commonStyle leftMenu-section">
    <div  class="col-lg-12 col-md-12 col-sm-12 col-12 float-left pl-0 pr-0 commonStyle leftMenu-panel">
        <!--<div class="expansion-panel">
            <button class="expansionBtn"><mat-icon class="float-left">home</mat-icon><span class="float-left">Dashboard</span><span class="leftArrowIcon float-right"></span></button>
            
        </div>-->
        <!-- Dashboard -->
         <mat-accordion id="content" style="margin: 0px; padding:0px !important">
           <!-- <mat-expansion-panel style="padding: 0px; margin:0px;">
                <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="float-left">business</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dashboard
                </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li (click)="gotoDashboard()">-- CXO Dashboard</li>
                    <li (click)="gotoSales()">-- Sales</li>
                    <li>-- Services</li>
                </ul>
            </mat-expansion-panel> -->
            <!-- <mat-expansion-panel style="padding: 0px; margin:0px !important">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="float-left">business</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dashboard
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li (click)="gotoDashboard()">-- CXO Dashboard</li>
                        <li (click)="gotoSales()">-- Sales</li>
                        <li>-- Services</li>
                    </ul>
                </mat-expansion-panel> -->
            <!-- Owner -->
            <!-- <mat-expansion-panel  style="padding: 0px; margin:0px;">
                <mat-expansion-panel-header>
                <mat-panel-title>
                 <mat-icon>person_outline</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Owner
                </mat-panel-title>
                </mat-expansion-panel-header>
                    <ul>
                    <li>-- Owner 1</li>
                    <li>-- Owner 2</li>
                    <li>-- Owner 3</li>
                </ul>
            </mat-expansion-panel> -->
            <!-- Property -->
            <!-- <mat-expansion-panel  style="padding: 0px; margin:0px;">
                <mat-expansion-panel-header>
                <mat-panel-title>
                 <mat-icon>business</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Property
                </mat-panel-title>
                </mat-expansion-panel-header>
                    <ul>
                    <li>-- Property 1</li>
                    <li>-- Property 2</li>
                    <li>-- Property 3</li>
                </ul>
            </mat-expansion-panel> -->
            <!-- Customer -->
            <!-- <mat-expansion-panel  style="padding: 0px; margin:0px;">
                <mat-expansion-panel-header>
                <mat-panel-title>
                 <mat-icon>people_outline</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Customer
                </mat-panel-title>
                </mat-expansion-panel-header>
                    <ul>
                    <li>-- Owner </li>
                    <li>-- Management</li>
                    <li>-- Owner Generation</li>
                </ul>
            </mat-expansion-panel> -->
            <!-- Booking -->
            <!-- <mat-expansion-panel  style="padding: 0px; margin:0px;">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                     <mat-icon>launch</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Booking
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                        <ul>
                        <li>-- New Booking </li>
                        <li>-- Management</li>
                        <li>-- Owner Generation</li>
                    </ul>
                </mat-expansion-panel>-->
                 <!-- Services
            <mat-expansion-panel  style="padding: 0px; margin:0px;">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="float-left">people_outline</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Services
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-expansion-panel style="width: 230px;  margin: -18px">
                        <mat-expansion-panel-header>
                        <mat-panel-title>- CRM  -->
                           <!-- <mat-icon style="padding-right: 33px;">insert_chart</mat-icon> CRM -->
                        <!-- </mat-panel-title>
                        </mat-expansion-panel-header>
                    <ul style="margin-left: -25px;">
                
                        <a><li [routerLink]="['/serviceticketlist']">--ServiceTicket list</li></a>
                        <li>--RaiseCustomerTicket</li>
                        <li>--- TAT Config</li>
                    </ul>
                    </mat-expansion-panel>
                </mat-expansion-panel>  --> 
                 <!-- TTD -->
                <!-- <mat-expansion-panel  style="padding: 0px; margin:0px;">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                         <mat-icon>people_outline</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TTD
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                            <ul>
                            <li>-- New Booking </li>
                            <li>-- Management</li>
                            <li>-- Owner Generation</li>
                        </ul>
                    </mat-expansion-panel> -->
                    <!-- Marketing -->
                     <!-- <mat-expansion-panel  style="padding: 0px; margin:0px;">
                            <mat-expansion-panel-header>
                            <mat-panel-title>
                             <mat-icon>trending_up</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Marketing
                            </mat-panel-title>
                            </mat-expansion-panel-header>
                                <ul>
                                <li>-- New Booking </li>
                                <li>-- Management</li>
                                <li>-- Owner Generation</li>
                            </ul>
                        </mat-expansion-panel> -->
                        <!-- Master -->
                         <!-- <mat-expansion-panel  style="padding: 0px; margin:0px;">
                                <mat-expansion-panel-header>
                                <mat-panel-title>
                                 <mat-icon>trending_up</mat-icon> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Master
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                    <ul style="list-style: none;">
                                    <li>-- New Booking </li>
                                    <li>-- Management</li>
                                    <li>-- Owner Generation</li>
                                </ul>
                            </mat-expansion-panel>  -->
            <!-- Reports -->
            <!-- <mat-expansion-panel  style="padding: 0px; margin:0px;">
                <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon>bar_chart</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Reports
                </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-expansion-panel style="width: 230px;  margin: -19px; padding-top : 3px !important">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                       <mat-icon style="padding-right:0px;">insert_chart_outlined</mat-icon> Sales Reports
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-expansion-panel style="width: 230px; margin: -20px; padding-top : 3px !important">
                        <mat-expansion-panel-header>
                        <mat-panel-title>
                            -- Rate card
                        </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul style="list-style: none; margin:0px; padding: 0px; ">
                    
                    <li [routerLink]="['/propertywise']">--- PropertyWise</li>
                        
                            <a><li [routerLink]="['/roomwise']">--- Roomwise</li></a>
                        
                        </ul>
                    </mat-expansion-panel>
                </mat-expansion-panel>
            </mat-expansion-panel>
             -->

            <!-- User -->
            <!-- <mat-expansion-panel  style="padding: 0px; margin:0px;">
                <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="float-left">people_outline</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Users
                </mat-panel-title>
                </mat-expansion-panel-header>
                <ul>
                    <li (click)="gotoDashboard()">-- CXO Dashboard</li>
                    <li>-- Sales</li>
                    <li>-- Services</li>
                </ul>
            </mat-expansion-panel> -->
            <!-- Tech Automation -->
            <!-- <mat-expansion-panel  style="padding: 0px; margin:0px;">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                     <mat-icon>people_outline</mat-icon> &nbsp;TechAutomation
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                        <ul>
                        <li>-- New Booking </li>
                        <li>-- Management</li>
                        <li>-- Owner Generation</li>
                    </ul>
                </mat-expansion-panel> -->
            <!-- Utility -->
            <!-- <mat-expansion-panel  style="padding: 0px; margin:0px;">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                     <mat-icon>people_outline</mat-icon> &nbsp; Utility
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                        <ul>
                        <li>-- New Booking </li>
                        <li>-- Management</li>
                        <li>-- Owner Generation</li>
                    </ul>
                </mat-expansion-panel> -->
             <!-- Newly attached sidenav style -->

             <!-- <mat-accordion> -->
                <!-- <mat-expansion-panel #example (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="matHeaderIcon">business</mat-icon>Dashboard
                        <mat-icon class="matIcon" *ngIf="!example.expanded">keyboard_arrow_right</mat-icon>
                        <mat-icon  class="matIcon" *ngIf="example.expanded">keyboard_arrow_up</mat-icon>
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- CXO Dashboard</li>
                        <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Sales</li>
                        <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Services</li>
                    </ul>
                </mat-expansion-panel> -->
                <!-- owner -->
                <!-- <mat-expansion-panel #example1  (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="matHeaderIcon">person_outline</mat-icon>Owner
                        <mat-icon class="matIcon" *ngIf="!example1.expanded">keyboard_arrow_right</mat-icon>
                        <mat-icon  class="matIcon" *ngIf="example1.expanded">keyboard_arrow_up</mat-icon>
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                        <ul>
                        <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Owner Management</li>
                        <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Owner Renenue Config</li>
                        <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Owner Generation</li>
                    </ul>
                </mat-expansion-panel> -->
                <!-- Property -->
                <!-- <mat-expansion-panel #example (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="matHeaderIcon">business</mat-icon>Property
                        <mat-icon class="matIcon" *ngIf="!example.expanded">keyboard_arrow_right</mat-icon>
                        <mat-icon  class="matIcon" *ngIf="example.expanded">keyboard_arrow_up</mat-icon>
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Property List</li>
                        <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Property Rating System</li>
                        <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Price Management</li>
                    </ul>
                </mat-expansion-panel> -->
                <!-- Customer -->
                <!-- <mat-expansion-panel #example (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="matHeaderIcon">people_outline</mat-icon>Customer
                        <mat-icon class="matIcon" *ngIf="!example.expanded">keyboard_arrow_right</mat-icon>
                        <mat-icon  class="matIcon" *ngIf="example.expanded">keyboard_arrow_up</mat-icon>
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Customer Add</li>
                        <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Customer List</li>
                        <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Customer Dashboard</li>
                    </ul>
                </mat-expansion-panel> -->
                <!-- Booking -->
                <!-- <mat-expansion-panel #example (opened)="panelOpenState = true"
                (closed)="panelOpenState = false">
         <mat-expansion-panel-header>
         <mat-panel-title>
             <mat-icon class="matHeaderIcon">launch</mat-icon>Booking
             <mat-icon class="matIcon" *ngIf="!example.expanded">keyboard_arrow_right</mat-icon>
             <mat-icon  class="matIcon" *ngIf="example.expanded">keyboard_arrow_up</mat-icon>
         </mat-panel-title>
         </mat-expansion-panel-header>
         <ul>
             <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- New Booking</li>
             <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Booking List</li>
             <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Customer Dashboard</li>
         </ul>
     </mat-expansion-panel> -->
                 <!-- Services -->
                 <!-- <mat-expansion-panel #example2  (opened)="panelOpenState = true"
                 (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
          <mat-panel-title>
              <mat-icon class="matHeaderIcon">people_outline</mat-icon>Services
              <mat-icon class="matIcon" *ngIf="!example2.expanded">keyboard_arrow_right</mat-icon>
              <mat-icon  class="matIcon" *ngIf="example2.expanded">keyboard_arrow_up</mat-icon>
          </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-expansion-panel #example3 (opened)="panelOpenState = true"
                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">
                  <mat-panel-title> -->
                    
                      <!-- <mat-icon class="matIcon" *ngIf="!example3.expanded">keyboard_arrow_right</mat-icon>
                      <mat-icon  class="matIcon" *ngIf="example3.expanded">keyboard_arrow_up</mat-icon>
                  </mat-panel-title>
              </mat-expansion-panel-header>
                  <ul>
                  <li [routerLink]="['/serviceticketlist']" (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseEnter($event)">--- Service Ticket List</li>
                  <li [routerLink]="['/raisecustomerticket']"(mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseEnter($event)">--- Raise CustomerTicket</li>
                  <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseEnter($event)">--- TAT Config</li>
              </ul>
          </mat-expansion-panel>
          
      </mat-expansion-panel> -->
      <!-- TTD -->
      <!-- <mat-expansion-panel #example (opened)="panelOpenState = true"
      (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
   <mat-icon class="matHeaderIcon">people_outline</mat-icon>TTD
   <mat-icon class="matIcon" *ngIf="!example.expanded">keyboard_arrow_right</mat-icon>
   <mat-icon  class="matIcon" *ngIf="example.expanded">keyboard_arrow_up</mat-icon>
</mat-panel-title>
</mat-expansion-panel-header>
<ul>
   <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- New Task</li>
   <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Task List</li>
   <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Customer Dashboard</li>
</ul>
</mat-expansion-panel> -->
                <!-- Reports -->
                <!-- <mat-expansion-panel #example2  (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                    <mat-panel-title>              
                        <mat-icon class="matHeaderIcon">insert_chart_outlined</mat-icon>Reports
                        <mat-icon class="matIcon" *ngIf="!example2.expanded">keyboard_arrow_right</mat-icon>
                        <mat-icon  class="matIcon" *ngIf="example2.expanded">keyboard_arrow_up</mat-icon>
                    </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-expansion-panel #example3 (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
                        <mat-expansion-panel-header (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">
                            <mat-panel-title>
                                -- Sales Reports
                                <mat-icon class="matIcon" *ngIf="!example3.expanded">keyboard_arrow_right</mat-icon>
                                <mat-icon  class="matIcon" *ngIf="example3.expanded">keyboard_arrow_up</mat-icon>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                            <ul>
                            <li (mouseenter) = "secondLevelDropDownMouseEnter($event)" (mouseleave)="secondLevelDropDownMouseLeave($event)">--- Reservation</li>
                            <li (mouseenter) = "secondLevelDropDownMouseEnter($event)" (mouseleave)="secondLevelDropDownMouseLeave($event)">--- Sales Delay</li>
                            <li (mouseenter) = "secondLevelDropDownMouseEnter($event)" (mouseleave)="secondLevelDropDownMouseLeave($event)">--- Availability</li>
                            <li (mouseenter) = "secondLevelDropDownMouseEnter($event)" (mouseleave)="secondLevelDropDownMouseLeave($event)">--- Cancellation Report</li>
                            <mat-expansion-panel #example4>
                                <mat-expansion-panel-header (mouseenter) = "secondLevelDropDownMouseEnter($event)" (mouseleave)="secondLevelDropDownMouseLeave($event)">
                                <mat-panel-title>
                                    <span>--- Rate card</span>
                                    <mat-icon class="matIcon" *ngIf="!example4.expanded" style="margin-top: 3px;">keyboard_arrow_right</mat-icon>
                                    <mat-icon  class="matIcon" *ngIf="example4.expanded"  style="margin-top: 3px;">keyboard_arrow_up</mat-icon>
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                    <ul>
                                    <li [routerLink]="['/propertywise']" (mouseenter) = "thirdLevelDropDownMouseEnter($event)" (mouseleave)="thirdLevelDropDownMouseLeave($event)">---- Property wise</li>
                                    <li (mouseenter) = "thirdLevelDropDownMouseEnter($event)" (mouseleave)="thirdLevelDropDownMouseLeave($event)">---- Room wise</li>
                                </ul>
                            </mat-expansion-panel>
                            <li (mouseenter) = "secondLevelDropDownMouseEnter($event)" (mouseleave)="secondLevelDropDownMouseLeave($event)">--- Offline Reservation</li>
                            <li (mouseenter) = "secondLevelDropDownMouseEnter($event)" (mouseleave)="secondLevelDropDownMouseLeave($event)">--- Offline check-in</li>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel #example5 (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
                        <mat-expansion-panel-header (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">
                            <mat-panel-title>
                                -- OPS Reports
                                <mat-icon class="matIcon" *ngIf="!example5.expanded">keyboard_arrow_right</mat-icon>
                                <mat-icon  class="matIcon" *ngIf="example5.expanded">keyboard_arrow_up</mat-icon>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                            <ul>
                            <li (mouseenter) = "secondLevelDropDownMouseEnter($event)" (mouseleave)="secondLevelDropDownMouseLeave($event)">--- Move in details</li>
                            <mat-expansion-panel #example6>
                                <mat-expansion-panel-header (mouseenter) = "secondLevelDropDownMouseEnter($event)" (mouseleave)="secondLevelDropDownMouseLeave($event)">
                                <mat-panel-title>
                                    <span>--- Revenue management</span>
                                    <mat-icon class="matIcon" *ngIf="!example6.expanded">keyboard_arrow_right</mat-icon>
                                    <mat-icon  class="matIcon" *ngIf="example6.expanded">keyboard_arrow_up</mat-icon>
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                    <ul>
                                    <li (mouseenter) = "thirdLevelDropDownMouseEnter($event)" (mouseleave)="thirdLevelDropDownMouseEnter($event)">---- Invoice</li>
                                    <li (mouseenter) = "thirdLevelDropDownMouseEnter($event)" (mouseleave)="thirdLevelDropDownMouseEnter($event)">---- Receipts</li>
                                </ul>
                            </mat-expansion-panel>
                            <mat-expansion-panel #example7>
                                <mat-expansion-panel-header (mouseenter) = "secondLevelDropDownMouseEnter($event)" (mouseleave)="secondLevelDropDownMouseLeave($event)">
                                <mat-panel-title>
                                    <span>--- Retension management</span>
                                    <mat-icon class="matIcon" *ngIf="!example7.expanded">keyboard_arrow_right</mat-icon>
                                    <mat-icon  class="matIcon" *ngIf="example7.expanded">keyboard_arrow_up</mat-icon>
                                </mat-panel-title>
                                </mat-expansion-panel-header>
                                    <ul>
                                    <li (mouseenter) = "thirdLevelDropDownMouseEnter($event)" (mouseleave)="thirdLevelDropDownMouseEnter($event)">---- Checkout requests</li>
                                    <li (mouseenter) = "thirdLevelDropDownMouseEnter($event)" (mouseleave)="thirdLevelDropDownMouseEnter($event)">---- Checkout forms</li>
                                </ul>
                            </mat-expansion-panel>
                        </ul>
                    </mat-expansion-panel>
                    <mat-expansion-panel #example8 (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
                        <mat-expansion-panel-header (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">
                            <mat-panel-title>
                                
                                <mat-icon class="matIcon" *ngIf="!example8.expanded">keyboard_arrow_right</mat-icon>
                                <mat-icon  class="matIcon" *ngIf="example8.expanded">keyboard_arrow_up</mat-icon>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                            <ul>
                            <li (mouseenter) = "secondLevelDropDownMouseEnter($event)" (mouseleave)="secondLevelDropDownMouseLeave($event)">--- KPI</li>
                            <li (mouseenter) = "secondLevelDropDownMouseEnter($event)" (mouseleave)="secondLevelDropDownMouseLeave($event)">--- Receipt report</li>
                            <li (mouseenter) = "secondLevelDropDownMouseEnter($event)" (mouseleave)="secondLevelDropDownMouseLeave($event)">--- Pending analysis</li>
                        </ul>
                    </mat-expansion-panel>
                </mat-expansion-panel> -->
               
     <!-- Users -->
     <!-- <mat-expansion-panel #example (opened)="panelOpenState = true"
     (closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
  <mat-icon class="matHeaderIcon">people_outline</mat-icon>Users
  <mat-icon class="matIcon" *ngIf="!example.expanded">keyboard_arrow_right</mat-icon>
  <mat-icon  class="matIcon" *ngIf="example.expanded">keyboard_arrow_up</mat-icon>
</mat-panel-title>
</mat-expansion-panel-header>
<ul>
  <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- User List</li>
  <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Sales Team</li>
  <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Roles</li>
</ul>
</mat-expansion-panel> -->
<!-- Tech AutoMATION -->
<!-- <mat-expansion-panel #example (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<mat-icon class="matHeaderIcon">people_outline</mat-icon>Tech Automation
<mat-icon class="matIcon" *ngIf="!example.expanded">keyboard_arrow_right</mat-icon>
<mat-icon  class="matIcon" *ngIf="example.expanded">keyboard_arrow_up</mat-icon>
</mat-panel-title>
</mat-expansion-panel-header>
<ul>
<li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Water Meter Dashboard</li>
<li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Energy Meter Dashboard</li>
<li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- SmartLock Dashboard</li>
</ul>
</mat-expansion-panel> -->
<!-- Utility -->
<!-- <mat-expansion-panel #example (opened)="panelOpenState = true"
(closed)="panelOpenState = false">
<mat-expansion-panel-header>
<mat-panel-title>
<mat-icon class="matHeaderIcon">people_outline</mat-icon>Utility
<mat-icon class="matIcon" *ngIf="!example.expanded">keyboard_arrow_right</mat-icon>
<mat-icon  class="matIcon" *ngIf="example.expanded">keyboard_arrow_up</mat-icon>
</mat-panel-title>
</mat-expansion-panel-header>
<ul>
<li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Checkout Retained</li> -->
<!-- <li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Sales Team</li>
<li (mouseenter) = "firstLevelDropDownMouseEnter($event)" (mouseleave)="firstLevelDropDownMouseLeave($event)">-- Roles</li> -->
<!-- </ul>
</mat-expansion-panel> -->




            </mat-accordion>
    </div>
</div> 