<section id="footer">
  <div class="container">
      <div class="msg-icon d-none">
          <img src="/images/message-icon.png" alt="">
      </div>
      <!-- Footer menu for desktop and tablet only -->
      <div class="row d-none d-lg-block d-sm-block d-xl-block  d-flex  ipad-modalview">
          <div class="col-xs-12 col-sm-6 col-md-2">
              <h5>Colive Corporate</h5>
              <ul class="list-unstyled quick-links">
                  <li><a href="/">Home</a></li>
                  <li><a href="/aboutus">About Colive</a></li>
                  <li><a [routerLink]="'/contactus'">Contact Us</a></li>
                  <li><a [routerLink]="'/ourpartners'">Our Partners</a></li>
                  <li><a [routerLink]="'/careers'">Careers</a></li>  
                  <li><a [routerLink]="'/sitemap'">Site Map</a></li>
                  <li><a href="https://www.colive.in/flipbook/flipbook/index" target="_blank">Hand Book</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2">
              <div class="">
                  <h5>More</h5>
                  <ul class="list-unstyled quick-links">
                      <li><a [routerLink]="'/cowork247'">CoWork 247</a></li>
                      <li><a href="/corporate">Colive for Corporates</a></li>
                      <!--<li><a href="/offers">Offers</a></li>-->
                  </ul>
              </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2">
              <h5>Explore Colive </h5>
              <ul class="list-unstyled quick-links">
                  <li><a href="http://blog.colive.in/">Blogs</a></li>
                  <li><a href="/community">Events</a></li>
                  <li><a href="/news">Press</a></li>
                  <li><a href="/faq">FAQs</a></li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2">
              <h5>Contact</h5>
              <ul class="list-unstyled quick-links">
                  <li class="d-none"><a href="mailto:hello@colive.com">hello@colive.com</a></li>
                  <li><a href="tel:+917676000500">+91 7676 000 500</a></li>
              </ul>
              <ul class="social-links" style="margin: 0px; padding:0px;">
                  <li>
                      <a href="https://www.facebook.com/Colive.in/" target="_blank" rel="noreferrer" class="fa fa-facebook"></a>
                  </li>
                  <li>
                      <a href="https://twitter.com/Lets_Colive" target="_blank" rel="noreferrer" class="fa fa-twitter"></a>
                  </li>
                  <li>
                      <a href="https://www.youtube.com/channel/UC97k6haFp6RU_0puYWvlJuw" target="_blank" rel="noreferrer" class="fa fa-youtube"></a>
                  </li>
                  <li>
                      <a href="https://www.instagram.com/colive.in " target="_blank" rel="noreferrer" class="fa fa-instagram"></a>
                  </li>
                  <li>
                      <a href="https://www.linkedin.com/company/coliveyourway" target="_blank" rel="noreferrer" class="fa fa-linkedin"> </a>
                  </li>
              </ul>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-4 col-md-offset-1 footer-logo">
              <a href="/"><img src="../../../assets/images/CoLive_Logo.png" alt=""></a>
          </div>
      </div>
      <!-- footer menu for mobile devices only -->
      <div class=" d-lg-none d-sm-none d-xl-none d-xs-block footerMobile-panel">
            <mat-accordion>
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <button class="btn btn-link px-2 py-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <h5>Colive Corporate </h5>
                                </button>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                  
                      <div class="card-list">
                            <ul class="list-unstyled quick-links">
                                <li><a href="/">Home</a></li>
                                <li><a href="/aboutus">About Colive</a></li>
                                <li><a href="/contactus">Contact Us</a></li>
                                <li><a href="/partnerwithus">Our Partners</a></li>
                                <li class="d-none"><a href="/career">Careers</a></li>
                                <li><a href="/sitemap">Site Map</a></li>
                                <li><a href="https://www.colive.in/flipbook/flipbook/index.html" target="_blank">Hand Book</a></li>
                            </ul>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                            <button class="btn btn-link px-2 py-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <h5>More</h5>
                                </button>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="card-list">
                            <ul class="list-unstyled quick-links">
                                <li><a href="/cowork247">CoWork 247</a></li>
                                <li><a href="/corporate">Colive for Corporates</a></li>
                                <!--<li><a href="/offers">Offers</a></li>-->
                            </ul>
                        </div>
                    </mat-expansion-panel>
                    <mat-expansion-panel (opened)="panelOpenState = true"
                                         (closed)="panelOpenState = false">
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                                <button class="btn btn-link px-2 py-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <h5>Explore Colive </h5>
                                    </button>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                      <div class="card-list">
                            <ul class="list-unstyled quick-links">
                                <li><a href="https://www.colive.in/blog/">Blogs</a></li>
                                <li><a href="/community">Events</a></li>
                                <li><a href="/news">Press</a></li>
                                <li><a href="/faq">FAQs</a></li>
                            </ul>
                        </div>
                    </mat-expansion-panel>
                  </mat-accordion>
      </div>
      
  </div>
  <footer>
      <div class="container">
          <div class="row">
              <div class="logo-icon">
                  <a href="/"><img src="../../../assets/images/CoLive_Logo.png" alt=""></a>
              </div>
              <div class="col-md-4 col-sm-5">
                  <div class="copyright">© Colive 2019</div>
                  <div class="social-icon d-lg-none d-sm-none d-xl-none d-xs-block" style="margin: 0px; padding:0px; ">
                      <a href="https://www.facebook.com/Colive.in/" target="_blank">
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                      <a href="https://www.instagram.com/colive.in" target="_blank">
                          <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                      <a href="https://twitter.com/Lets_Colive" target="_blank">
                          <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                      <a href="https://www.youtube.com/channel/UC97k6haFp6RU_0puYWvlJuw" target="_blank">
                          <i class="fa fa-youtube-play" aria-hidden="true"></i>
                      </a>
                      <a href="https://www.linkedin.com/company/coliveyourway" target="_blank">
                          <i class="fa fa-linkedin" aria-hidden="true"></i>
                      </a>
                  </div>

              </div>
              <div class="col-md-8 col-sm-7">
                  <div class="privicy-polciy">
                      <ul>
                          <li><a href="/privacypolicy">Privacy Policy </a></li>
                          <li><a href="/termsandconditions"> Terms & Conditions</a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </footer>
</section>
<!-- social buttons, terms & condition and privacy policy -->
<!-- Toast Section(alert popup) -->
